<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <main>
      <div class="error-page">
        <h2 style="color:blue;font-size:100px;">Error Page</h2>
        <h1 style="margin: 20px;">OOPS!</h1>
        <p style="margin: 20px;">404-PAGE NOT FOUND</p>
        <button type="submit"><a href="/" style="text-decoration: none;color:white">Go back to home</a></button>
      </div>
    </main>
</body>
</html>
